# DDL Data Pipeline Example - Access Asset 

This notebook provides an example on accessing the data and metadata for a DDL Asset via the DDL Data Pipeline. 

**import package**

In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append('C:/Users/alightner/Documents/API_Packages/DDL_Pipeline')

from DDL_Pipeline._access import access_asset

### 1. Create the access_asset() object and login

In [2]:
ddl = access_asset()

In [3]:
ddl.login()

Socrata user? (email address) mdaniels@devtechsys.com
Socrata password?  ············

Change the to the production environment.

In [7]:
ddl.prod = True
ddl.reset_environment()

### 2. Select add of interest

In this example, we select the Mini Survey Data for the Advancing National Integration in Georgia Activity Mid-term Performance Evaluation.

In [8]:
ddl.asset_fourfour = 'n8w6-sk9x'

### 3. Access Metadata

In [20]:
metadata = ddl.get_metadata()

Along with returning the metadata dicitonary, the get_metadata() function places the values in convenient attributes.

In [14]:
ddl.asset_name

'Mini Survey Data for the Advancing National Integration in Georgia Activity Mid-term Performance Evaluation'

In [16]:
ddl.asset_description

'During the course of an evaluation, the Evaluation Team conducted a mini-survey among the members of the 13 youth centers supported under a program to promote integration of diverse population groups into Georgian society.  The ANI program is implemented by a Georgian organization, the United Nations Association of Georgia (UNAG).  The survey is based on a random sample of 160 respondents selected proportional to their distribution among members based on their ethnicity and gender.'

In [21]:
ddl.child_names

['Mini Survey Data for the Advancing National Integration in Georgia Activity Mid-term Performance Evaluation']

### 4. Load the data as pandas dataframes 

In order to examine the data in python, we want to load the data as pandas dataframes.

In [33]:
datasets = ddl.get_data()

In [34]:
datasets[0]['data'].head()

,id_num,int_date,q1,q10_eng,q11_1,q11_10,q11_11,q11_12,q11_13,q11_14,...,q8_y,q9_1,q9_2,q9_3,q9_4,q9_5,setlm_type,uid,yc,yc_type
0,24,29-Nov-13,1,citizens involvment in public life,2,1,2,1,1,2,...,0,5,5,3,5,5,1,1,1,1
1,236,29-Nov-13,1,"involvement in public life, taking care of others",1,2,2,1,1,2,...,0,5,5,5,5,5,1,2,3,1
2,47,29-Nov-13,1,Don't Know,1,3,3,1,1,1,...,0,5,4,4,1,5,1,3,1,1
3,174,30-Nov-13,1,community opinion formation,1,2,2,1,1,3,...,0,5,5,3,3,4,1,4,2,2
4,72,30-Nov-13,1,"The active life of the citizens, involvement i...",1,2,1,1,1,2,...,1,3,3,4,3,4,1,5,2,2

In [40]:
datasets[0]['column_labels']['q11_12']

'How frequently do you discuss the following issues with your friends? - Gender rights (-2: Refusal, -1: Dont Know, 1: A lot, 2: Somewhat, 3: Not at all)'

## Explore!

### Close the client

In [41]:
ddl.client.close()